# Copyright 2016 The Android Open Source Project
# Copyright 2016 TeamHacklG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import init.lge.shared.rc

on fs
    mount_all fstab.vee3

on boot
    # Sensors
    chown system system /mpt/prox_calibration.dat
    chmod 0660 /mpt/prox_calibration.dat
    chown system system /sys/class/input/input2/range
    chown system system /sys/class/input/input2/bandwidth
    chown system system /sys/class/input/input2/mode
    chown system system /sys/class/input/input2/value
    chown system system /sys/class/input/input2/delay
    chown system system /sys/class/input/input2/selftest
    chown system system /sys/class/input/input2/fast_calibration_x
    chown system system /sys/class/input/input2/fast_calibration_y
    chown system system /sys/class/input/input2/fast_calibration_z
    chown system system /sys/class/input/input2/eeprom_writing
    chown system system /sys/class/input/input2/softreset
    chown system system /sys/class/input/input3/x
    chown system system /sys/class/input/input3/y
    chown system system /sys/class/input/input3/z
    chown system system /sys/class/input/input3/value
    chown system system /sys/class/input/input3/value_raw
    chown system system /sys/class/input/input3/op_mode
    chown system system /sys/class/input/input3/odr
    chown system system /sys/class/input/input3/enable
    chown system system /sys/class/input/input3/cnt
    chown system system /sys/class/input/input3/rept_xy
    chown system system /sys/class/input/input3/rept_z
    chown system system /sys/class/input/input3/test
    chown system system /sys/class/input/input3/diag
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/enable
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/pilt
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/piht
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/run_calibration
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/prox_cal_data
    chown system system /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/pdata
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/enable
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/pilt
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/piht
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/run_calibration
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/prox_cal_data
    chmod 0660 /sys/devices/platform/i2c-gpio.5/i2c-5/5-0039/pdata

    # [NeutronDev03][neutrondev03@gmail.com] Let's flash some, shall we
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/led_pattern
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/led_blink
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/led_current_index
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/R/brightness
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/G/brightness
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/B/brightness
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/R/led_current
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/G/led_current
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0032/leds/B/led_current

# msm specific files that need to be created on /data
on post-fs-data
    # [NeutronDev03][neutrondev03@gmail.com] Let's flash some, shall we
    mkdir /data/misc/rgb 0664 system system
    chown system system /data/misc/rgb/lp5521_current.dat

service ril-daemon1 /system/bin/rild -c 1
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log diag

service vee3ds /system/bin/sh /init.vee3ds.sh
    class main
    user root
    oneshot
